body {
	font: 70.5% "Trebuchet MS", "Arial", "Helvetica", "Verdana", sans-serif;
	margin: 25px;
}
.demoHeaders {
	margin-top: 2em;
}
#dialog-link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;
}
#dialog-link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
#icons {
	margin: 0;
	padding: 0;
}
#icons li {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
	list-style: none;
}
#icons span.ui-icon {
	float: left;
	margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}

.fit_search_container {
	padding: 10px 8px 10px 8px;
	text-align: center;
}

.fit_hr {
	height: 1px;
	border: none;
	color: #CCCCFF;
	background-color: #CCCCFF;
}

.fit_hr_margin {
	margin: 2px 10px 2px 10px;
}

.fit_hr_pink {
	color: #FFC2C2;
	background-color: #FFC2C2;
	width:100%;
}

.fit_col2_padding {
	padding: 0px 10px 3px 0px;
}

.fit_text_expl {
	padding-left: 3px;
	font-size: 10px;
}

.fit_comment_text span, .fit_comment_text input {
	font-size: 11px;
	color: #005C8A;
	padding-left:3px;
}

div.fit_comment_text[id^=commentBox]{
	margin: 2px 0px 1px 5px;
	background-color: #E8E8E8;
	padding: 6px 6px 6px 10px;
}

.fit_comment_link  {
	padding:5px 0px 9px 0px;
}
.fit_comment_link  a {
	color: #888888;
}

.fit_comment_text button, .fit_comment_text a {
	font-size: 11px;
}

div[id^=commentHour] {
	color: #888888;
	font-size: 11px;
	padding: 5px 0px 0px 3px;
}
required {
	color: #FF0000;
}

.fit_search_header {
    font-weight: bold;
    margin-top: 6px;
    text-align: left;
}
.fit_search_sub_header{
    color: #CCA37A;
    margin-top: 5px;
    padding-left: 1px;
    text-align: left;
    font-weight: bold;
}

.fit_search_top_header {
	font-size: 13px;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
}

.fit_text_bold {
    font-weight: bold;
}
.fit_text_color {
	color: #005C8A;
}

.fit_text_color_disabled {
	color: #C0C0C0;
}

.fit_text_header {
	font-size: 12px;
	font-weight: bold;
}

.fit_dialog_header {
    margin:10px 0px 10px 2px;
    font-size: 12px;
    font-weight: bold;
}

.fit_treatm_value {
     color:#993399;
     font-size:11px;
}


.fit_checkboxes {
	text-align: left;
	padding: 5px 0px 2px 1px;
}

.fit_activity_item {
	padding: 7px 5px 5px 2px;
}

.fit_activity_item_second_column {
	padding-left: 20px;
}

.fit_item_tools {
	margin-top: 12px;
	margin-bottom: 12px;
}

.fit_table {
	font-size: 11px;
}

.fit_required {
	color: #FF0000;
}

.fit_top_title_pad {
  padding:20px 0px 15px 0px;   
}

.fit_widget_pad {
    margin-top:20px;
  padding:0px 10px 15px 5px;     
}

div.fg-toolbar {
	background: url("../jquery-ui-1.10.3.custom/css/custom-theme/images/ui-bg_highlight-hard_100_eeeeee_1x100.png") repeat-x scroll 50% 50% #FFFFFF;
	border: 1px solid #D1E0E0;
	color: #404040;
	font-weight: bold;
}

div.fit_tab {
	/*margin-left: 10px;*/
	padding-left: 1px !important;
	max-width: 1140px;
	overflow-x: visible;
	overflow-y: visible;
}

form.formElements input[type="text"], input[type="password"], input[type="email"] {
	width: 80%;
	font-size: 1em;
}

.whiteLabel {
	color: #FFFFFF;
	font-size: 1.5em;
}

.whiteLabelSmall {
	color: #FFFFFF;
	font-size: 1.2em;
}

.whiteLabelSmaller {
	color: #FFFFFF;
	font-size: 1em;
}
 

.whiteLinkSmall {
	padding: 10px 0 0 52px;
}

.whiteLinkSmall a {
	color: #FFFFFF;
	font-size: 1em;
	text-decoration: none;
	padding: 10px 0 0 25px;
}

.fit_error {
	color: #CC0000;
	padding: 10px;
	width:80%;
}

.fit_error_nopad {
	color: #CC0000;
	width:80%;
}

.fit_error_orange {
	color: #FF9900;
}

.fit_error_login {
	color: #FF6666;
	font-weight: bold;//
	background-color: white;
}

.homeTopMenu {
	float: right;
	font-size: 16px;
	color: #888888;
}

.homeTopMenu a {
	color: #F0F8FF;
	text-decoration: none;
}
.fakewindowcontain .ui-widget-overlay {
	position: absolute;
}
.homeImage {
	opacity: 0.7;
}
.homeOverlay {
	border: 0px none;
	color: #888888;
	font-weight: bold;
}

.homeOverlaySignup {
	padding: 40px 20px 0 40px;
}

.loginOverlayPadding {
	padding: 10px 20px 10px 40px;
}



.homeOverlayLink, .loginOverlayTitle {
	color: #F0F8FF;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 3.5em;
	text-decoration: none;
}
.homeOverlayText {
	color: #99FFCC;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 1.5em;
	padding: 10px 0 0 25px;
}
.homeOverlayContainer {
	border: 1px solid;
	border-radius: 25px;
	background-color: #003366;
	opacity: 0.7;
	padding: 10px;
	position: absolute;
	top: 140px;
	width: 380px;
	height: 200px;
	left: 410px;
}

.loginOverlayContainer {
	border: 1px solid;
	border-radius: 25px;
	background-color: #003366;
	opacity: 0.7;
	padding: 7px 0px 0px 45px;
	position: absolute;
	top: 120px;
	width: 300px;
	height: 300px;
	left: 410px;
}

.registerOverlayContainer {
	border: 1px solid;
	border-radius: 	10px;
	background-color: #003366;
	opacity: 0.7;
	padding: 7px 0px 0px 45px;
	position: absolute;
	top: 60px;
	width: 800px;
	height: 680px;
	left: 210px;
}

.registerOverlayPadding {
	padding: 10px 20px 10px 280px;
}
.registerOverlayTitle {
	color: #FFFFFF;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 3em;
	text-decoration: none;
}

.registerSubHeader{
	color: #E0FF85;
	font-size: 1.2em;
	font-weight:bold;
}

.resetOverlayContainer {
	border: 1px solid;
	border-radius: 25px;
	background-color: #003366;
	opacity: 0.7;
	padding: 7px 7px 0px 45px;
	position: absolute;
	top: 120px;
	width: 530px;
	height: 360px;
	left: 350px;
}

.resetOverlayPadding {
	padding: 10px 20px 10px 50px;
}
.resetOverlayTitle {
	color: #F0F8FF;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 3.0em;
	text-decoration: none;
}

.fit_hidden {
	display:none;
}

.fit_visible {
	display: block;
}

.fit_label_padding {
    padding:10px 0px 0px 10px;
}

.fit_text_padding {
    padding:0px 0px 10px 0px;
}

/*add space after date input field for the calendar icon*/
.hasDatepicker {
    margin-right:5px;
}

.ui-widget {
    font-family: "Arial", "Helvetica", "Verdana","Trebuchet MS",   sans-serif;
    font-size: 1.05em;
}

.ui-icon.inline { display:inline-block; }

.ui-widget-content .ui-state-highlight {
    border: 1px solid #CCFF99;
}
 

/*
 input.ng-invalid {
 border: 1px solid red;
 }*/

/*
 input.ng-valid {
 border: 1px solid green;
 }*/
